---
layout: page
title: 谋食谋道 !
tagline: 读书 行路 生活 技术
description: reads thoughts life technology
---
{% include JB/setup %}

<div class="row">
  <div class="nine columns">
    <div>
        {% for post in paginator.posts %}
            <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
            <p>
                <!-- post.content | strip_html | truncatewords:75}}  -->
                {{ post.content  | | split:'<!--break-->' | first}}
                <a href="{{ post.url }}"><strong>阅读全文/Read more.</strong></a><br/>
            </p>
            <p>
                <strong>
                    {{ post.date | date: "%B %e, %Y" }}
                </strong>
                | {{ post.category }}
                | <a href="http://lingjun.github.com{{ post.url }}/#disqus_thread" data-disqus-identifier="{{ post.url }}">comments</a>
            </p>
            {% if forloop.last %}
            {% else %}
                <hr>
            {% endif %}

        {% endfor %}
    </div>

      <!-- 分页器: Pagination links -->
<div id="post-pagination" class="pagination">
   <hr>
     <br/>
  {% if paginator.previous_page %}
  <div class="four columns">
    {% if paginator.previous_page == 1 %}
    <a href="/">&larr; Previous</a>
    {% else %}
    <a href="/page{{paginator.previous_page}}">&larr; 上一页/Previous</a>
    {% endif %}
  </div>
  {% else %}
  <div class="four columns previous disabled">
    <span>&larr; 前一页/Previous</span>
  </div>
  {% endif %}

<div class="four columns">
<span class="page_number ">当前页/Page: {{paginator.page}} of {{paginator.total_pages}}</span>
</div>

  {% if paginator.next_page %}
  <div class="four columns next">
    <a href="/page{{paginator.next_page}}">下一页/Next &rarr;</a>
  </div>
  {% else %}
  <div class="four columns next disabled">
    <span>下一页/Next &rarr;</span>
  </div>
  {% endif %}
     <br/> <br/>
</div>

  </div>

  <div class="two columns offset-by-one">
              <a href="categories.html"><h4>分类</h4></a>
              <strong><ul>
                {% assign categories_list = site.categories %}
                {% include JB/categories_list %}
              </ul></strong>
  </div>

  <div class="two columns offset-by-one">
              <h4>友情链接</h4>
              <ul>
                  <li><a target="_blank" title="Los Techies" href="http://lostechies.com/"><strong>Los Techies</strong></a></li>
                  <li><a target="_blank" title="Scott Hanselman" href="http://www.hanselman.com/blog/"><strong>Scott Hanselman</strong></a></li>
                  <li><a target="_blank" title="Haacked" href="http://haacked.com/"><strong>Phil Haack</strong></a></li>
                  <li><a target="_blank" title="Martin Fowler" href="http://martinfowler.com"><strong>Martin Fowler</strong></a></li>
                  <li><a target="_blank" title="Ian Robinson" href="http://iansrobinson.com"><strong>Ian Robinson</strong></a></li>
                  <li><a target="_blank" title="High Scalability" href="http://highscalability.com/"><strong>High Scalability</strong></a></li>
                  <li><a target="_blank" title="Coding Horror" href="http://www.codinghorror.com/blog/"><strong>Coding Horror</strong></a></li>
                  <li><a target="_blank" title="Dr Dobbs" href="http://www.drdobbs.com/"><strong>Dr Dobbs</strong></a></li>
                  <li><a target="_blank" title="Udi Dahan" href="http://www.udidahan.com/?blog=true"><strong>Udi Dahan</strong></a></li>
                  <li><a target="_blank" title="Geek Monkey" href="http://geekmonkey.org/"><strong>Geek Monkey</strong></a></li>
                  <li><a target="_blank" title="Alex Maccaw" href="http://blog.alexmaccaw.com/"><strong>Alex Maccaw</strong></a></li>
                  <li><a target="_blank" title="Pat Shaughnessy" href="http://patshaughnessy.net/"><strong>Pat Shaughnessy</strong></a></li>
                  <li><a target="_blank" title="How To Node" href="http://howtonode.org/"><strong>How To Node</strong></a></li>
                  <li><a target="_blank" title="Troy Hunt" href="http://www.troyhunt.com/"><strong>Troy Hunt</strong></a></li>
                  <!--<strong><li><a target="_blank" title="" href=""></a></li></strong>-->
              </ul>
  </div>

  <div class="two columns offset-by-one">
              <h4>France</h4>
              <ul>
                  <li><a target="_blank" title="Breakinsecurity" href="http://blog.breakinsecurity.com/"><strong>Breakinsecurity</strong></a></li>
                  <li><a target="_blank" title="Jeyg" href="http://jeyg.info/"><strong>Jeyg</strong></a></li>
                  <li><a target="_blank" title="David Catuhe" href="http://blogs.msdn.com/b/eternalcoding/"><strong>David Catuhe</strong></a></li>
                  <li><a target="_blank" title="Julien Dollon" href="http://julien.dollon.net/"><strong>Julien Dollon</strong></a></li>
                  <!--<strong><li><a target="_blank" title="" href=""></a></li></strong>-->
              </ul>
  </div>


</div>
